<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>start_game</key>
    <string>Start Game</string>
    <key>map_maker</key>
    <string>Map Maker</string>
    <key>create_group</key>
    <string>Create Square Group</string>
    <key>delete_group</key>
    <string>Delete Square Group</string>
    <key>save_map</key>
    <string>Save Map</string>
    <key>back</key>
    <string>Back</string>
    <key>input_map_name</key>
    <string>Input Map Name</string>
</dict>
</plist>