cocos2d
proj.win10
proj.linux
proj.win8.1-universal
/proj.win32/Debug.win32
/proj.ios_mac/SquareClear.xcodeproj/project.xcworkspace
/proj.ios_mac/SquareClear.xcodeproj/xcuserdata
/proj.ios_mac/.DS_Store
/proj.win32/SquareClear.v12.suo
/proj.win32/SquareClear.opensdf
/proj.win32/SquareClear.sdf
/bin
/proj.android-studio/app/build.xml
/proj.android-studio/app/proguard-project.txt
